body{
    padding: 0;
    margin: 0;
}

#time-app{
    position: absolute;
    top: 17.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
}

#player{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background-color: rgb(188, 49, 223);
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) translateZ(30px);
    text-align: center;
    border-radius: 50%;
}

.clock-border{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background-color: #68a4ff;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 50%;
    border: 10px solid #fff;
}


.center-clock{
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 1000px);
}


.h-12{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}

.h-11{
    position: absolute;
    top: 13%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}


.h-10{
    position: absolute;
    top: 27.5%;
    left: 14%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}


.h-9{
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}


.h-8{
    position: absolute;
    top: 72.5%;
    left: 14%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}


.h-7{
    position: absolute;
    top: 87%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}


.h-6{
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}



.h-5{
    position: absolute;
    top: 87%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}


.h-4{
    position: absolute;
    top: 72.5%;
    left: 86%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}


.h-3{
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}


.h-2{
    position: absolute;
    top: 27.5%;
    left: 86%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}


.h-1{
    position: absolute;
    top: 13%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}

#arrow-h{
    position: absolute;
    border-radius: 3px;
    width: 5px;
    height: 50px;
    background-color: rgb(100, 240, 18);
    top: -450%;
    left: 50%;
    transform: translateX(-50%)  rotateZ(180deg);
    transform-origin: 50% 100%;
}

#arrow-m{
    position: absolute;
    border-radius: 3px;
    width: 5px;
    height: 70px;
    background-color: rgb(18, 70, 240);
    top: -660%;
    left: 50%;
    transform: translateX(-50%)  rotateZ(90deg);
    transform-origin: 50% 100%;
}

#arrow-s{
    position: absolute;
    border-radius: 3px;
    width: 5px;
    height: 90px;
    background-color: rgb(245, 12, 245);
    top: -850%;
    left: 50%;
    transform: translateX(-50%)  rotateZ(10deg);
    transform-origin: 50% 100%;
}